/* You can add global styles to this file, and also import other style files */
/* styles.css or image-carousel.component.css */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1.5s ease-in-out; /* 1.5 seconds duration for fade-in effect */
}

html, body { height: 100%; }
body { margin: 0; font-family:'Lucida Handwriting',cursive;
  color: #333333;
  background-color: #C26868;
}
.mdc-button {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Lucida Handwriting',cursive;
  font-size: var(--mdc-typography-button-font-size, 14px);
  line-height: var(--mdc-typography-button-line-height, 36px);
  font-weight: var(--mdc-typography-button-font-weight, 500);
  letter-spacing: var(--mdc-typography-button-letter-spacing, 0.0892857143em);
  -webkit-text-decoration: var(--mdc-typography-button-text-decoration, none);
  text-decoration: var(--mdc-typography-button-text-decoration, none);
  text-transform: var(--mdc-typography-button-text-transform, none);
}
.mat-drawer-container {
  background-color: #C26868;
  color: rgba(0, 0, 0, .87);
}
.mat-toolbar.mat-primary {
  background: #e6e6e6;
  color: #000;
}
.toolbar[_ngcontent-ng-c2304799382] {
  text-align: center;
  width: 100vw;
  background-color: #e6e6e6;
  color: black;
  font-weight: 600;
  border-bottom-style: solid;
  font-size: x-large;
}
