/* image-carousel.component.css */
.carousel-container {
  position: fixed; /* Fixed position to stay at the top of the page */
  top: 0; /* Align to the top of the page */
  left: 0; /* Align to the left of the page */
  width: 100vw; /* Full viewport width */
  height: auto; /* Adjust height to maintain aspect ratio */
  z-index: -1; /* Send behind other elements */
  margin: 0; /* No margin */
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
}

.carousel-item {
  min-width: 100%;
  display: none;
}

.carousel-item.active {
  display: block;
}

.carousel img {
  width: 100vw; /* Full viewport width */
  height: auto; /* Maintain aspect ratio */
  display: block;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  z-index: 1; /* Make sure controls are above the carousel */
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}
